.tile-list-item {
  height: 80;
}

.tile-list-text {
  text-length: 32;
}

.tile-list-item text {
  height: 32;
  font-family: System-Regular;
  fill: "white";
}

#spinner { x: 50%-25; y: 50%-25; width: 50; height: 50; fill: fb-white; }